<!-- Nav Bar -->
<nav>
  <!-- Brand -->
  <a href="/">
    <h2 class="brand">
      <img src="assets/logo.jpg">
      <span>Mteo<i class="font-mini">Private</i></span>
    </h2>
  </a>
  <div class="nav-container">
    <select class="metro-nav">
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
    </select>
    <select class="course-nav">
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
    </select>
  </div>
</nav>
<div class="container">
  <h1>MTeo Bloger</h1>
  <h2 class="slogan">Luon Luon dung len - luon luon huong den</h2>
  <ul class="projects">
    <% 30.times do %>
      <li class="project">
        <div class="project-image">
          <a href="#">
            <div class="course-mark"><b>AgJS</b></div>
          </a>
          <div class="description">
            <p>Angular for Beginner</p>
            <a href="#" target="_blank">View Project</a>
          </div>
        </div>
        <h2 class="project-name">
          <span class="name">AngularJS</span>
          <a href="#" class="fa fa-comment-o comment"> 12314</a>
          <a href="#" class="fa fa-star favories"> 232</a>
          <a class="user" href="#">by Le Dinh Minh</a>
        </h2>
      </li>
    <% end %>
  </ul>
</div>

