<%= stylesheet_link_tag "custom" %>
<!-- Nav Bar -->
<nav>
  <!-- Brand -->
  <a href="/">
    <h2 class="brand">
      <img src="assets/logo.jpg">
      <span>Mteo<i class="font-mini">Private</i></span>
    </h2>
  </a>
  <div class="nav-container">
    <select class="metro-nav">
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
      <option>All Cities</option>
    </select>
    <select class="course-nav">
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
      <option>All Courses</option>
    </select>
  </div>
</nav>
<div class="container">
  <h1>MTeo Bloger</h1>
  <h2 class="slogan">Luon Luon dung len - luon luon huong den</h2>
  <ul class="projects">
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
    <li class="project">
      <div class="project-image"></div>
      <h2 class="project-name">
        <span class="name">AngularJS</span>
        <a class="user" href="#">Le Dinh Minh</a>
      </h2>
    </li>
  </ul>
</div>

